<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Chat in a safe environment.">
    <title>Safe Space Chat</title>

    <!-- jquery -->
    <script type="module" src="/js/jquery-3.4.1.min.js"></script>
    <script type="module" src="/js/script.js"></script>

    <!--    Socket io-->
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>