html,
body {
    height: calc(100% - 24px);
    margin: 0;
    background: #212121;

    /*Standard text color is white*/
    color: #fff;

    font-family: "Arial", serif;
}

.main-content {
    background: #303030;
    border-radius: 15px;
    height: 100%;
    /*width: 100%;*/
    margin: 24px;

    display: flex;
    flex-direction: column;
}

.chat-wrapper {
    height: 100%;
    margin: 0 16px;

    display: flex;
    flex-direction: column;
}

.chat-main-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    visibility: hidden;
}

#messages-container {
    padding: 8px;

    background: #424242;
    height: 100%;
}

.message {
    margin-bottom: 8px;

    display: flex;
    flex-direction: row;
}

.chat-message, .server-message {
    margin: 0 8px 0 0;
}

.server-message {
    color: #fbff57;
}

.username-input-context {
    white-space: nowrap;

    margin: 0;
}

.username-input-container {
    display: flex;
    margin: 16px 0;
}

#set_username {
    white-space: nowrap;
}

#username {
    width: 100%;
    margin: 0 8px;
}

#message-input-container {
    display: flex;
    margin: 16px 0;
}

#message {
    width: 100%;
    margin-right: 8px;
}